.sd-sidebar {
  width: 200px;
  flex-shrink: 0;
  background: #272822;
  color: #fff;
  height: 100%;
  box-sizing: border-box;
  padding: 10px 0;
}

.sd-sidebar li {
  list-style: none;
  padding: 10px 20px;
  cursor: pointer;
}

.sd-sidebar li:hover,
.sd-sidebar li.active {
  background: rgba(255, 255, 255, 0.1);
}
